{
  "presets": [
    ["latest", {
      "es2015": { "loose": true }
    }], "react"],
  "plugins": [
    ["transform-runtime",{ "polyfill": true, "regenerator": true }],
    "transform-function-bind",
    "transform-export-extensions"
  ]
}
